# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import xlsxwriter
import requests
from scipy import stats
import math

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [3]:
symbol = 'aapl'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'SMGNGD)L  AACNL EALSQARSE/TOK(EBT', 'calculationPrice': 'tops', 'open': 0, 'openTime': None, 'openSource': 'cifoflia', 'close': 0, 'closeTime': None, 'closeSource': 'iaiofclf', 'high': 0, 'highTime': None, 'highSource': None, 'low': 0, 'lowTime': None, 'lowSource': None, 'latestPrice': 149, 'latestSource': 'IEX real time price', 'latestTime': '12:23:24 PM', 'latestUpdate': 1695882317244, 'latestVolume': None, 'iexRealtimePrice': 152.1, 'iexRealtimeSize': 105, 'iexLastUpdated': 1648604218470, 'delayedPrice': None, 'delayedPriceTime': None, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'extendedPrice': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPriceTime': None, 'previousClose': 145.69, 'previousVolume': 109376305, 'change': 2, 'changePercent': 0.01431, 'volume': None, 'iexMarketPercent': 0.013609341231028227, 'iexVolume': 753267, 'avgTotalVolume': 79119036, 'iexBidPrice': 145, 'iexBidSize': 113, 'iexAskPrice': 151.75, 'iexAskSize': 353, 'iexOpen': 148.72, 'iexOpenTime': 1651666675659, 'iexClose': 149.53, 'iexCloseTime': 1633073065740, 'marketCap': 2506318809193, 'peRatio': 33.78, 'week52High': 146.2, 'week52Low': 91.15, 'ytdChange': 0.0144, 'lastTradeTime': 1698816079656, 'isUSMarketOpen': True}

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [4]:
price = data['latestPrice']
pe_ratio = data['peRatio']

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))

symbol_strings = []

for i in range(0, len(symbol_groups)):
    
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:
    
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    
    for symbol in symbol_string.split(','):
        
        final_dataframe = final_dataframe.append(
        pd.Series(
            [
                symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['quote']['peRatio'],
                'N/A'
            ],
            index=my_columns
        ),
            ignore_index=True
        )
        
final_dataframe

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  155.36                   50.67                     N/A
1      AAL   21.31                   -1.46                     N/A
2      AAP  219.50                   23.58                     N/A
3     AAPL  146.41                   33.18                     N/A
4     ABBV  122.14                   41.39                     N/A
..     ...     ...                     ...                     ...
500    YUM  120.64                   32.38                     N/A
501    ZBH  163.61                   60.71                     N/A
502   ZBRA  551.71                   47.54                     N/A
503   ZION   53.50                     6.3                     N/A
504    ZTS  199.10                   53.82                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [7]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace=True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True)
final_dataframe.drop('index', axis=1, inplace=True)

In [8]:
final_dataframe

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0     BIO  676.510                    5.19                     N/A
1    ZION   53.500                     6.3                     N/A
2    CINF  120.410                    6.33                     N/A
3     AFL   54.663                    7.13                     N/A
4     UNM   28.250                     7.2                     N/A
5     HRB   24.170                    8.08                     N/A
6      CE  161.200                     8.6                     N/A
7     COO  419.474                    9.02                     N/A
8     PGR  100.910                    9.05                     N/A
9     CSX   32.510                    9.07                     N/A
10    KIM   21.497                    9.26                     N/A
11      C   69.694                    9.44                     N/A
12   HOLX   69.830                    9.47                     N/A
13    LEN  100.900                    9.49                     N/A
14     GS  380.610                    9.54                     N/A
15    PHM   55.371                    9.54                     N/A
16   VIAC   43.850                     9.6                     N/A
17     GM   59.080                    9.71                     N/A
18    PNC  192.510                    9.83                     N/A
19    CTL   11.000                    9.89                     N/A
20    SRE  137.740                   10.06                     N/A
21     CI  237.890                   10.42                     N/A
22    COF  167.870                   10.51                     N/A
23     LH  279.120                   10.57                     N/A
24    DHI   92.170                   10.58                     N/A
25    DGX  138.370                   10.62                     N/A
26    WHR  226.710                   10.65                     N/A
27   DISH   41.730                   10.85                     N/A
28    PFG   63.130                   10.92                     N/A
29    HPQ   31.700                   10.94                     N/A
30   FOXA   37.910                   11.07                     N/A
31    CMA   70.130                   11.07                     N/A
32    FTI    8.860                    11.6                     N/A
33    KEY   20.800                    11.7                     N/A
34    ALL  138.900                    11.8                     N/A
35     RE  255.835                   11.97                     N/A
36     MS   90.830                   12.09                     N/A
37   HBAN   14.720                   12.41                     N/A
38    JPM  159.183                   12.44                     N/A
39    MOS   32.840                    12.5                     N/A
40     VZ   58.797                    12.6                     N/A
41     WU   23.910                    12.7                     N/A
42    MTB  147.560                    12.8                     N/A
43    ETR  103.764                   12.89                     N/A
44   INTC   58.677                    12.9                     N/A
45    CFG   45.814                   12.95                     N/A
46    HII  206.350                   12.95                     N/A
47    UHS  156.040                   13.01                     N/A
48     RF   20.010                   13.16                     N/A
49     BK   51.060                    13.3                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [9]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [10]:
portfolio_input()

Enter the value of your portfolio: 1000000

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [11]:
position_size = float(portfolio_size) / len(final_dataframe.index)

for row in final_dataframe.index:
    
    final_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe.loc[row, 'Price'])
    
final_dataframe

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0     BIO  676.510                    5.19                      29
1    ZION   53.500                     6.3                     373
2    CINF  120.410                    6.33                     166
3     AFL   54.663                    7.13                     365
4     UNM   28.250                     7.2                     707
5     HRB   24.170                    8.08                     827
6      CE  161.200                     8.6                     124
7     COO  419.474                    9.02                      47
8     PGR  100.910                    9.05                     198
9     CSX   32.510                    9.07                     615
10    KIM   21.497                    9.26                     930
11      C   69.694                    9.44                     286
12   HOLX   69.830                    9.47                     286
13    LEN  100.900                    9.49                     198
14     GS  380.610                    9.54                      52
15    PHM   55.371                    9.54                     361
16   VIAC   43.850                     9.6                     456
17     GM   59.080                    9.71                     338
18    PNC  192.510                    9.83                     103
19    CTL   11.000                    9.89                    1818
20    SRE  137.740                   10.06                     145
21     CI  237.890                   10.42                      84
22    COF  167.870                   10.51                     119
23     LH  279.120                   10.57                      71
24    DHI   92.170                   10.58                     216
25    DGX  138.370                   10.62                     144
26    WHR  226.710                   10.65                      88
27   DISH   41.730                   10.85                     479
28    PFG   63.130                   10.92                     316
29    HPQ   31.700                   10.94                     630
30   FOXA   37.910                   11.07                     527
31    CMA   70.130                   11.07                     285
32    FTI    8.860                    11.6                    2257
33    KEY   20.800                    11.7                     961
34    ALL  138.900                    11.8                     143
35     RE  255.835                   11.97                      78
36     MS   90.830                   12.09                     220
37   HBAN   14.720                   12.41                    1358
38    JPM  159.183                   12.44                     125
39    MOS   32.840                    12.5                     609
40     VZ   58.797                    12.6                     340
41     WU   23.910                    12.7                     836
42    MTB  147.560                    12.8                     135
43    ETR  103.764                   12.89                     192
44   INTC   58.677                    12.9                     340
45    CFG   45.814                   12.95                     436
46    HII  206.350                   12.95                      96
47    UHS  156.040                   13.01                     128
48     RF   20.010                   13.16                     999
49     BK   51.060                    13.3                     391

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [19]:
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# Price-to-earnings ratio
pe_ratio = data[symbol]['quote']['peRatio']

# Price-to-book ratio
pb_ratio = data['AAPL']['advanced-stats']['priceToBook']

# Price-to-sales ratio
ps_ratio = data['AAPL']['advanced-stats']['priceToSales']

# Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
enterprise_value = data['AAPL']['advanced-stats']['enterpriseValue']
ebitda = data['AAPL']['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value / ebitda

# Enterprise Value divided by Gross Profit (EV/GP)
gross_profit = data['AAPL']['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value / gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [29]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio'
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
    ]

rv_dataframe = pd.DataFrame(columns=rv_columns)

for symbol_string in symbol_strings:
    
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    
    for symbol in symbol_string.split(','):
        
        enterprise_value = data['AAPL']['advanced-stats']['enterpriseValue']
        ebitda = data['AAPL']['advanced-stats']['EBITDA']
        gross_profit = data['AAPL']['advanced-stats']['grossProfit']
        
        rv_dataframe = rv_dataframe.append(
                            pd.Series([
                                symbol,
                                data[symbol]['quote']['latestPrice'],
                                'N/A',
                                data[symbol]['quote']['peRatio'],
                                'N/A',
                                data[symbol]['advanced-stats']['priceToBook'],
                                'N/A',
                                data[symbol]['advanced-stats']['priceToSales'],
                                'N/A',
                                enterprise_value / ebitda,
                                'N/A',
                                gross_profit / ebitda,
                                'N/A',
                                'N/A'
                            ],
                            index = rv_columns),
                                ignore_index=True
                            )

ValueError: Length of passed values is 14, index implies 13.

In [30]:
len(rv_columns)

13

In [33]:
print(rv_columns)

['Ticker', 'Price', 'Number of Shares to Buy', 'Price-to-Earnings Ratio', 'PE Percentile', 'Price-to-Book RatioPB Percentile', 'Price-to-Sales Ratio', 'PS Percentile', 'EV/EBITDA', 'EV/EBITDA Percentile', 'EV/GP', 'EV/GP Percentile', 'RV Score']

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

Enter the value of your portfolio:1000000

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

## Saving Our Excel Output
As before, saving our Excel output is very easy: